/* Rebar UI Forest Green Theme
 *
 */
.ui-banner {
  background-color: #b1c7ac;
  border-bottom-color: #2d681e; }
  .ui-banner a:hover, .ui-banner a:focus, .ui-banner a.ui-state-hover, .ui-banner a.ui-state-focus {
    background-color: #e6ede4; }
  .ui-banner a.ui-state-active, .lt-ie9 .ui-banner a.ui-state-active {
    background-color: #2d681e;
    color: white; }

.ui-left-nav a:hover, .ui-left-nav a:focus, .ui-left-nav a.ui-state-hover, .ui-left-nav a.ui-state-focus {
  background-color: #e6ede4; }
.ui-left-nav a.ui-state-active
, .lt-ie9 .ui-left-nav a.ui-state-active {
  background-color: #2d681e;
  color: white; }

label, .ui-text-label, .ui-label-color {
  color: #2d681e; }

.ui-fill-darkest {
  background-color: #2d681e; }

.ui-fill-dark {
  background-color: #c2d3be; }

.ui-fill-medium {
  background-color: #d1decd; }

.ui-fill-light {
  background-color: #e6ede4; }

.ui-fill-popup {
  background-color: #d7e2d4; }

.ui-grid-lines th, .ui-grid-lines tr, .ui-grid-lines td {
  border-left: 1px solid #dde7db;
  border-right: 1px solid #dde7db;
  border-top: 0px;
  border-bottom: 0px; }

.ui.grid-lines table {
  border-bottom: 1px solid #dde7db; }

.ui-grid-lines-left td {
  border-left: 1px solid #dde7db; }

.ui-grid-lines-right td {
  border-right: 1px solid #dde7db; }

.ui-grey-bar {
  background-color: #f7f9f6; }

.ui-palette-gradient {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: white;
  /* IE10 */
  background-image: -ms-linear-gradient(top, white 0%, #2d681e 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #2d681e 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #2d681e 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #2d681e));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #2d681e 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, white 0%, #2d681e 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MTAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyRDY4MUUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MTApIiAvPgo8L3N2Zz4=); }

.ui-palette-gradient-reverse {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: #2d681e;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #2d681e 0%, #d1decd 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #2d681e 0%, #d1decd 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #2d681e 0%, #d1decd 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d681e), color-stop(1, #d1decd));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #2d681e 0%, #d1decd 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #2d681e 0%, #d1decd 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient-reverse {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0ODIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyRDY4MUUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0ODIpIiAvPgo8L3N2Zz4=); }

.contentHeader {
  color: #2d681e; }

.contentHeaderCodeDisplay {
  color: #2d681e; }

.ui-iggrid {
  background-color: #c2d3be; }
  .ui-iggrid .ui-iggrid-headertable, .ui-iggrid .ui-widget-header {
    background: #c2d3be; }
  .ui-iggrid .ui-iggrid-headertext {
    color: #2d681e; }
  .ui-iggrid tbody td {
    border-top: 1px solid #f7f9f6;
    border-bottom: 1px solid #f7f9f6; }
  .ui-iggrid tbody tr {
    background: white; }
  .ui-iggrid .ui-ig-altrecord {
    /* graybar-color */
    background: #f7f9f6; }

.ui-selectlist ul.ui-selectlist-list li.ui-state-active {
  background-color: #c2d3be;
  border-color: #c2d3be; }

/* End Rebar UI Forest Green Theme */
