/* Rebar UI Gray Blue Theme
 *
 */
.ui-banner {
  background-color: #bbc6d1;
  border-bottom-color: #486684; }
  .ui-banner a:hover, .ui-banner a:focus, .ui-banner a.ui-state-hover, .ui-banner a.ui-state-focus {
    background-color: #e9edf0; }
  .ui-banner a.ui-state-active, .lt-ie9 .ui-banner a.ui-state-active {
    background-color: #486684;
    color: white; }

.ui-left-nav a:hover, .ui-left-nav a:focus, .ui-left-nav a.ui-state-hover, .ui-left-nav a.ui-state-focus {
  background-color: #e9edf0; }
.ui-left-nav a.ui-state-active
, .lt-ie9 .ui-left-nav a.ui-state-active {
  background-color: #486684;
  color: white; }

label, .ui-text-label, .ui-label-color {
  color: #486684; }

.ui-fill-darkest {
  background-color: #486684; }

.ui-fill-dark {
  background-color: #cad3db; }

.ui-fill-medium {
  background-color: #d7dde4; }

.ui-fill-light {
  background-color: #e9edf0; }

.ui-fill-popup {
  background-color: #dce2e8; }

.ui-grid-lines th, .ui-grid-lines tr, .ui-grid-lines td {
  border-left: 1px solid #e2e7eb;
  border-right: 1px solid #e2e7eb;
  border-top: 0px;
  border-bottom: 0px; }

.ui.grid-lines table {
  border-bottom: 1px solid #e2e7eb; }

.ui-grid-lines-left td {
  border-left: 1px solid #e2e7eb; }

.ui-grid-lines-right td {
  border-right: 1px solid #e2e7eb; }

.ui-grey-bar {
  background-color: #f8f9fa; }

.ui-palette-gradient {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: white;
  /* IE10 */
  background-image: -ms-linear-gradient(top, white 0%, #486684 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #486684 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #486684 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #486684));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #486684 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, white 0%, #486684 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2ODUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM0ODY2ODQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2ODUpIiAvPgo8L3N2Zz4=); }

.ui-palette-gradient-reverse {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: #486684;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #486684 0%, #d7dde4 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #486684 0%, #d7dde4 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #486684 0%, #d7dde4 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #486684), color-stop(1, #d7dde4));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #486684 0%, #d7dde4 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #486684 0%, #d7dde4 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient-reverse {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4NTQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM0ODY2ODQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4NTQpIiAvPgo8L3N2Zz4=); }

.contentHeader {
  color: #486684; }

.contentHeaderCodeDisplay {
  color: #486684; }

.ui-iggrid {
  background-color: #cad3db; }
  .ui-iggrid .ui-iggrid-headertable, .ui-iggrid .ui-widget-header {
    background: #cad3db; }
  .ui-iggrid .ui-iggrid-headertext {
    color: #486684; }
  .ui-iggrid tbody td {
    border-top: 1px solid #f8f9fa;
    border-bottom: 1px solid #f8f9fa; }
  .ui-iggrid tbody tr {
    background: white; }
  .ui-iggrid .ui-ig-altrecord {
    /* graybar-color */
    background: #f8f9fa; }

.ui-selectlist ul.ui-selectlist-list li.ui-state-active {
  background-color: #cad3db;
  border-color: #cad3db; }

/* End Rebar UI Gray Blue Theme */
