/*LAYOUT GRID - 62x29 - 1024px */
/* Containers
----------------------------------------------------------------------------------------------------*/
.ui-layout-wrapper {
  width: 1004px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 2px 6px 2px; }

.ui-layout-orientation {
  padding: 0;
  width: 1004px;
  height: 21px;
  font-size: 0.75em; }

.ui-layout-content {
  width: 1004px;
  font-size: 100%;
  padding: 0;
  margin: 0; }

.ui-layout {
  padding: 0;
  margin: 0px;
  width: 1004px;
  height: 456px;
  font-size: 100%; }

.ui-layout .controlGroup {
  margin-left: 4px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* Width Pixel */
.wGridPx_1, .wGridPx_2, .wGridPx_3, .wGridPx_4, .wGridPx_5, .wGridPx_6, .wGridPx_7, .wGridPx_8, .wGridPx_9, .wGridPx_10,
.wGridPx_11, .wGridPx_12, .wGridPx_13, .wGridPx_14, .wGridPx_15, .wGridPx_16, .wGridPx_17, .wGridPx_18, .wGridPx_19, .wGridPx_20,
.wGridPx_21, .wGridPx_22, .wGridPx_23, .wGridPx_24, .wGridPx_25, .wGridPx_26, .wGridPx_27, .wGridPx_28, .wGridPx_29, .wGridPx_30,
.wGridPx_31, .wGridPx_32, .wGridPx_33, .wGridPx_34, .wGridPx_35, .wGridPx_36, .wGridPx_37, .wGridPx_38, .wGridPx_39, .wGridPx_40,
.wGridPx_41, .wGridPx_42, .wGridPx_43, .wGridPx_44, .wGridPx_45, .wGridPx_46, .wGridPx_47, .wGridPx_48, .wGridPx_49, .wGridPx_50,
.wGridPx_51, .wGridPx_52, .wGridPx_53, .wGridPx_54, .wGridPx_55, .wGridPx_56, .wGridPx_57, .wGridPx_58, .wGridPx_59, .wGridPx_60,
.wGridPx_61, .wGridPx_62 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px; }

/* Heigth Pixel */
.hGridPx_1, .hGridPx_2, .hGridPx_3, .hGridPx_4, .hGridPx_5, .hGridPx_6, .hGridPx_7, .hGridPx_8, .hGridPx_9, .hGridPx_10,
.hGridPx_11, .hGridPx_12, .hGridPx_13, .hGridPx_14, .hGridPx_15, .hGridPx_16, .hGridPx_17, .hGridPx_18, .hGridPx_19, .hGridPx_20,
.hGridPx_21, .hGridPx_22, .hGridPx_23, .hGridPx_24, .hGridPx_25, .hGridPx_26, .hGridPx_27, .hGridPx_28, .hGridPx_29 {
  margin-top: 8px; }

/* Grid >> Children
----------------------------------------------------------------------------------------------------*/
.leftReset {
  margin-left: 0; }

.rightReset {
  margin-right: 0; }

.topReset {
  margin-top: 0; }

.bottomReset {
  margin-bottom: 0; }

.gridReset {
  margin: 0; }

/* Grid >> 62 Columns pixels with pixel Container
----------------------------------------------------------------------------------------------------*/
.ui-layout .wGridPx_1 {
  width: 8px; }

.ui-layout .wGridPx_2 {
  width: 24px; }

.ui-layout .wGridPx_3 {
  width: 40px; }

.ui-layout .wGridPx_4 {
  width: 56px; }

.ui-layout .wGridPx_5 {
  width: 72px; }

.ui-layout .wGridPx_6 {
  width: 88px; }

.ui-layout .wGridPx_7 {
  width: 104px; }

.ui-layout .wGridPx_8 {
  width: 120px; }

.ui-layout .wGridPx_9 {
  width: 136px; }

.ui-layout .wGridPx_10 {
  width: 152px; }

.ui-layout .wGridPx_11 {
  width: 168px; }

.ui-layout .wGridPx_12 {
  width: 184px; }

.ui-layout .wGridPx_13 {
  width: 200px; }

.ui-layout .wGridPx_14 {
  width: 216px; }

.ui-layout .wGridPx_15 {
  width: 232px; }

.ui-layout .wGridPx_16 {
  width: 248px; }

.ui-layout .wGridPx_17 {
  width: 264px; }

.ui-layout .wGridPx_18 {
  width: 280px; }

.ui-layout .wGridPx_19 {
  width: 296px; }

.ui-layout .wGridPx_20 {
  width: 312px; }

.ui-layout .wGridPx_21 {
  width: 328px; }

.ui-layout .wGridPx_22 {
  width: 344px; }

.ui-layout .wGridPx_23 {
  width: 360px; }

.ui-layout .wGridPx_24 {
  width: 376px; }

.ui-layout .wGridPx_25 {
  width: 392px; }

.ui-layout .wGridPx_26 {
  width: 408px; }

.ui-layout .wGridPx_27 {
  width: 424px; }

.ui-layout .wGridPx_28 {
  width: 440px; }

.ui-layout .wGridPx_29 {
  width: 456px; }

.ui-layout .wGridPx_30 {
  width: 472px; }

.ui-layout .wGridPx_31 {
  width: 488px; }

.ui-layout .wGridPx_32 {
  width: 504px; }

.ui-layout .wGridPx_33 {
  width: 520px; }

.ui-layout .wGridPx_34 {
  width: 536px; }

.ui-layout .wGridPx_35 {
  width: 552px; }

.ui-layout .wGridPx_36 {
  width: 568px; }

.ui-layout .wGridPx_37 {
  width: 584px; }

.ui-layout .wGridPx_38 {
  width: 600px; }

.ui-layout .wGridPx_39 {
  width: 616px; }

.ui-layout .wGridPx_40 {
  width: 632px; }

.ui-layout .wGridPx_41 {
  width: 648px; }

.ui-layout .wGridPx_42 {
  width: 664px; }

.ui-layout .wGridPx_43 {
  width: 680px; }

.ui-layout .wGridPx_44 {
  width: 696px; }

.ui-layout .wGridPx_45 {
  width: 712px; }

.ui-layout .wGridPx_46 {
  width: 728px; }

.ui-layout .wGridPx_47 {
  width: 744px; }

.ui-layout .wGridPx_48 {
  width: 760px; }

.ui-layout .wGridPx_49 {
  width: 776px; }

.ui-layout .wGridPx_50 {
  width: 792px; }

.ui-layout .wGridPx_51 {
  width: 808px; }

.ui-layout .wGridPx_52 {
  width: 824px; }

.ui-layout .wGridPx_53 {
  width: 840px; }

.ui-layout .wGridPx_54 {
  width: 856px; }

.ui-layout .wGridPx_55 {
  width: 872px; }

.ui-layout .wGridPx_56 {
  width: 888px; }

.ui-layout .wGridPx_57 {
  width: 904px; }

.ui-layout .wGridPx_58 {
  width: 920px; }

.ui-layout .wGridPx_59 {
  width: 936px; }

.ui-layout .wGridPx_60 {
  width: 952px; }

.ui-layout .wGridPx_61 {
  width: 968px; }

.ui-layout .wGridPx_62 {
  width: 984px; }

/* Prefix Extra Space >> 62 Columns Pixel with pixel Container
----------------------------------------------------------------------------------------------------*/
.ui-layout .wPrefixPx_1 {
  padding-left: 16px; }

.ui-layout .wPrefixPx_2 {
  padding-left: 32px; }

.ui-layout .wPrefixPx_3 {
  padding-left: 48px; }

.ui-layout .wPrefixPx_4 {
  padding-left: 64px; }

.ui-layout .wPrefixPx_5 {
  padding-left: 80px; }

.ui-layout .wPrefixPx_6 {
  padding-left: 96px; }

.ui-layout .wPrefixPx_7 {
  padding-left: 112px; }

.ui-layout .wPrefixPx_8 {
  padding-left: 128px; }

.ui-layout .wPrefixPx_9 {
  padding-left: 144px; }

.ui-layout .wPrefixPx_10 {
  padding-left: 160px; }

.ui-layout .wPrefixPx_11 {
  padding-left: 176px; }

.ui-layout .wPrefixPx_12 {
  padding-left: 192px; }

.ui-layout .wPrefixPx_13 {
  padding-left: 208px; }

.ui-layout .wPrefixPx_14 {
  padding-left: 224px; }

.ui-layout .wPrefixPx_15 {
  padding-left: 240px; }

.ui-layout .wPrefixPx_16 {
  padding-left: 256px; }

.ui-layout .wPrefixPx_17 {
  padding-left: 272px; }

.ui-layout .wPrefixPx_18 {
  padding-left: 288px; }

.ui-layout .wPrefixPx_19 {
  padding-left: 304px; }

.ui-layout .wPrefixPx_20 {
  padding-left: 320px; }

.ui-layout .wPrefixPx_21 {
  padding-left: 336px; }

.ui-layout .wPrefixPx_22 {
  padding-left: 352px; }

.ui-layout .wPrefixPx_23 {
  padding-left: 368px; }

.ui-layout .wPrefixPx_24 {
  padding-left: 384px; }

.ui-layout .wPrefixPx_25 {
  padding-left: 400px; }

.ui-layout .wPrefixPx_26 {
  padding-left: 416px; }

.ui-layout .wPrefixPx_27 {
  padding-left: 432px; }

.ui-layout .wPrefixPx_28 {
  padding-left: 448px; }

.ui-layout .wPrefixPx_29 {
  padding-left: 464px; }

.ui-layout .wPrefixPx_30 {
  padding-left: 480px; }

.ui-layout .wPrefixPx_31 {
  padding-left: 496px; }

.ui-layout .wPrefixPx_32 {
  padding-left: 512px; }

.ui-layout .wPrefixPx_33 {
  padding-left: 528px; }

.ui-layout .wPrefixPx_34 {
  padding-left: 544px; }

.ui-layout .wPrefixPx_35 {
  padding-left: 560px; }

.ui-layout .wPrefixPx_36 {
  padding-left: 576px; }

.ui-layout .wPrefixPx_37 {
  padding-left: 592px; }

.ui-layout .wPrefixPx_38 {
  padding-left: 608px; }

.ui-layout .wPrefixPx_39 {
  padding-left: 624px; }

.ui-layout .wPrefixPx_40 {
  padding-left: 640px; }

.ui-layout .wPrefixPx_41 {
  padding-left: 656px; }

.ui-layout .wPrefixPx_42 {
  padding-left: 672px; }

.ui-layout .wPrefixPx_43 {
  padding-left: 688px; }

.ui-layout .wPrefixPx_44 {
  padding-left: 704px; }

.ui-layout .wPrefixPx_45 {
  padding-left: 720px; }

.ui-layout .wPrefixPx_46 {
  padding-left: 736px; }

.ui-layout .wPrefixPx_47 {
  padding-left: 752px; }

.ui-layout .wPrefixPx_48 {
  padding-left: 768px; }

.ui-layout .wPrefixPx_49 {
  padding-left: 784px; }

.ui-layout .wPrefixPx_50 {
  padding-left: 800px; }

.ui-layout .wPrefixPx_51 {
  padding-left: 816px; }

.ui-layout .wPrefixPx_52 {
  padding-left: 832px; }

.ui-layout .wPrefixPx_53 {
  padding-left: 848px; }

.ui-layout .wPrefixPx_54 {
  padding-left: 864px; }

.ui-layout .wPrefixPx_55 {
  padding-left: 880px; }

.ui-layout .wPrefixPx_56 {
  padding-left: 896px; }

.ui-layout .wPrefixPx_57 {
  padding-left: 912px; }

.ui-layout .wPrefixPx_58 {
  padding-left: 928px; }

.ui-layout .wPrefixPx_59 {
  padding-left: 944px; }

.ui-layout .wPrefixPx_60 {
  padding-left: 960px; }

.ui-layout .wPrefixPx_61 {
  padding-left: 976px; }

/* Suffix Extra Space >> 50 Columns Pixel with pixel Container
----------------------------------------------------------------------------------------------------*/
.ui-layout .wSuffixPx_1 {
  padding-right: 8px; }

.ui-layout .wSuffixPx_2 {
  padding-right: 24px; }

.ui-layout .wSuffixPx_3 {
  padding-right: 40px; }

.ui-layout .wSuffixPx_4 {
  padding-right: 56px; }

.ui-layout .wSuffixPx_5 {
  padding-right: 72px; }

.ui-layout .wSuffixPx_6 {
  padding-right: 88px; }

.ui-layout .wSuffixPx_7 {
  padding-right: 104px; }

.ui-layout .wSuffixPx_8 {
  padding-right: 120px; }

.ui-layout .wSuffixPx_9 {
  padding-right: 136px; }

.ui-layout .wSuffixPx_10 {
  padding-right: 152px; }

.ui-layout .wSuffixPx_11 {
  padding-right: 168px; }

.ui-layout .wSuffixPx_12 {
  padding-right: 184px; }

.ui-layout .wSuffixPx_13 {
  padding-right: 200px; }

.ui-layout .wSuffixPx_14 {
  padding-right: 216px; }

.ui-layout .wSuffixPx_15 {
  padding-right: 232px; }

.ui-layout .wSuffixPx_16 {
  padding-right: 248px; }

.ui-layout .wSuffixPx_17 {
  padding-right: 264px; }

.ui-layout .wSuffixPx_18 {
  padding-right: 280px; }

.ui-layout .wSuffixPx_19 {
  padding-right: 296px; }

.ui-layout .wSuffixPx_20 {
  padding-right: 312px; }

.ui-layout .wSuffixPx_21 {
  padding-right: 328px; }

.ui-layout .wSuffixPx_22 {
  padding-right: 344px; }

.ui-layout .wSuffixPx_23 {
  padding-right: 360px; }

.ui-layout .wSuffixPx_24 {
  padding-right: 376px; }

.ui-layout .wSuffixPx_25 {
  padding-right: 392px; }

.ui-layout .wSuffixPx_26 {
  padding-right: 408px; }

.ui-layout .wSuffixPx_27 {
  padding-right: 424px; }

.ui-layout .wSuffixPx_28 {
  padding-right: 440px; }

.ui-layout .wSuffixPx_29 {
  padding-right: 456px; }

.ui-layout .wSuffixPx_30 {
  padding-right: 472px; }

.ui-layout .wSuffixPx_31 {
  padding-right: 488px; }

.ui-layout .wSuffixPx_32 {
  padding-right: 504px; }

.ui-layout .wSuffixPx_33 {
  padding-right: 520px; }

.ui-layout .wSuffixPx_34 {
  padding-right: 536px; }

.ui-layout .wSuffixPx_35 {
  padding-right: 552px; }

.ui-layout .wSuffixPx_36 {
  padding-right: 568px; }

.ui-layout .wSuffixPx_37 {
  padding-right: 584px; }

.ui-layout .wSuffixPx_38 {
  padding-right: 600px; }

.ui-layout .wSuffixPx_39 {
  padding-right: 616px; }

.ui-layout .wSuffixPx_40 {
  padding-right: 632px; }

.ui-layout .wSuffixPx_41 {
  padding-right: 648px; }

.ui-layout .wSuffixPx_42 {
  padding-right: 664px; }

.ui-layout .wSuffixPx_43 {
  padding-right: 680px; }

.ui-layout .wSuffixPx_44 {
  padding-right: 696px; }

.ui-layout .wSuffixPx_45 {
  padding-right: 712px; }

.ui-layout .wSuffixPx_46 {
  padding-right: 728px; }

.ui-layout .wSuffixPx_47 {
  padding-right: 744px; }

.ui-layout .wSuffixPx_48 {
  padding-right: 760px; }

.ui-layout .wSuffixPx_49 {
  padding-right: 776px; }

.ui-layout .wSuffixPx_50 {
  padding-right: 792px; }

.ui-layout .wSuffixPx_51 {
  padding-right: 808px; }

.ui-layout .wSuffixPx_52 {
  padding-right: 824px; }

.ui-layout .wSuffixPx_53 {
  padding-right: 840px; }

.ui-layout .wSuffixPx_54 {
  padding-right: 856px; }

.ui-layout .wSuffixPx_55 {
  padding-right: 872px; }

.ui-layout .wSuffixPx_56 {
  padding-right: 888px; }

.ui-layout .wSuffixPx_57 {
  padding-right: 904px; }

.ui-layout .wSuffixPx_58 {
  padding-right: 920px; }

.ui-layout .wSuffixPx_59 {
  padding-right: 936px; }

.ui-layout .wSuffixPx_60 {
  padding-right: 952px; }

.ui-layout .wSuffixPx_61 {
  padding-right: 968px; }

/* Grid >> 29 Rows Pixel with pixel Container
----------------------------------------------------------------------------------------------------*/
.ui-layout .hGridPx_1 {
  height: 8px; }

.ui-layout .hGridPx_2 {
  height: 24px; }

.ui-layout .hGridPx_3 {
  height: 40px; }

.ui-layout .hGridPx_4 {
  height: 56px; }

.ui-layout .hGridPx_5 {
  height: 72px; }

.ui-layout .hGridPx_6 {
  height: 88px; }

.ui-layout .hGridPx_7 {
  height: 104px; }

.ui-layout .hGridPx_8 {
  height: 120px; }

.ui-layout .hGridPx_9 {
  height: 136px; }

.ui-layout .hGridPx_10 {
  height: 152px; }

.ui-layout .hGridPx_11 {
  height: 168px; }

.ui-layout .hGridPx_12 {
  height: 184px; }

.ui-layout .hGridPx_13 {
  height: 200px; }

.ui-layout .hGridPx_14 {
  height: 216px; }

.ui-layout .hGridPx_15 {
  height: 232px; }

.ui-layout .hGridPx_16 {
  height: 248px; }

.ui-layout .hGridPx_17 {
  height: 264px; }

.ui-layout .hGridPx_18 {
  height: 280px; }

.ui-layout .hGridPx_19 {
  height: 296px; }

.ui-layout .hGridPx_20 {
  height: 312px; }

.ui-layout .hGridPx_21 {
  height: 328px; }

.ui-layout .hGridPx_22 {
  height: 344px; }

.ui-layout .hGridPx_23 {
  height: 360px; }

.ui-layout .hGridPx_24 {
  height: 376px; }

.ui-layout .hGridPx_25 {
  height: 392px; }

.ui-layout .hGridPx_26 {
  height: 408px; }

.ui-layout .hGridPx_27 {
  height: 424px; }

.ui-layout .hGridPx_28 {
  height: 440px; }

.ui-layout .hGridPx_29 {
  height: 456px; }

/* Height Prefix*/
.ui-layout .hPrefixPx_1 {
  padding-top: 16px; }

.ui-layout .hPrefixPx_2 {
  padding-top: 32px; }

.ui-layout .hPrefixPx_3 {
  padding-top: 48px; }

.ui-layout .hPrefixPx_4 {
  padding-top: 64px; }

.ui-layout .hPrefixPx_5 {
  padding-top: 80px; }

.ui-layout .hPrefixPx_6 {
  padding-top: 96px; }

.ui-layout .hPrefixPx_7 {
  padding-top: 112px; }

.ui-layout .hPrefixPx_8 {
  padding-top: 128px; }

.ui-layout .hPrefixPx_9 {
  padding-top: 144px; }

.ui-layout .hPrefixPx_10 {
  padding-top: 160px; }

.ui-layout .hPrefixPx_11 {
  padding-top: 176px; }

.ui-layout .hPrefixPx_12 {
  padding-top: 192px; }

.ui-layout .hPrefixPx_13 {
  padding-top: 208px; }

.ui-layout .hPrefixPx_14 {
  padding-top: 224px; }

.ui-layout .hPrefixPx_15 {
  padding-top: 240px; }

.ui-layout .hPrefixPx_16 {
  padding-top: 256px; }

.ui-layout .hPrefixPx_17 {
  padding-top: 272px; }

.ui-layout .hPrefixPx_18 {
  padding-top: 288px; }

.ui-layout .hPrefixPx_19 {
  padding-top: 304px; }

.ui-layout .hPrefixPx_20 {
  padding-top: 320px; }

.ui-layout .hPrefixPx_21 {
  padding-top: 336px; }

.ui-layout .hPrefixPx_22 {
  padding-top: 352px; }

.ui-layout .hPrefixPx_23 {
  padding-top: 368px; }

.ui-layout .hPrefixPx_24 {
  padding-top: 384px; }

.ui-layout .hPrefixPx_25 {
  padding-top: 400px; }

.ui-layout .hPrefixPx_26 {
  padding-top: 416px; }

.ui-layout .hPrefixPx_27 {
  padding-top: 432px; }

.ui-layout .hPrefixPx_28 {
  padding-top: 448px; }

/* Height Suffix */
.ui-layout .hSuffixPx_1 {
  padding-bottom: 16px; }

.ui-layout .hSuffixPx_2 {
  padding-bottom: 32px; }

.ui-layout .hSuffixPx_3 {
  padding-bottom: 48px; }

.ui-layout .hSuffixPx_4 {
  padding-bottom: 64px; }

.ui-layout .hSuffixPx_5 {
  padding-bottom: 80px; }

.ui-layout .hSuffixPx_6 {
  padding-bottom: 96px; }

.ui-layout .hSuffixPx_7 {
  padding-bottom: 112px; }

.ui-layout .hSuffixPx_8 {
  padding-bottom: 128px; }

.ui-layout .hSuffixPx_9 {
  padding-bottom: 144px; }

.ui-layout .hSuffixPx_10 {
  padding-bottom: 160px; }

.ui-layout .hSuffixPx_11 {
  padding-bottom: 176px; }

.ui-layout .hSuffixPx_12 {
  padding-bottom: 192px; }

.ui-layout .hSuffixPx_13 {
  padding-bottom: 208px; }

.ui-layout .hSuffixPx_14 {
  padding-bottom: 224px; }

.ui-layout .hSuffixPx_15 {
  padding-bottom: 240px; }

.ui-layout .hSuffixPx_16 {
  padding-bottom: 256px; }

.ui-layout .hSuffixPx_17 {
  padding-bottom: 272px; }

.ui-layout .hSuffixPx_18 {
  padding-bottom: 288px; }

.ui-layout .hSuffixPx_19 {
  padding-bottom: 304px; }

.ui-layout .hSuffixPx_20 {
  padding-bottom: 320px; }

.ui-layout .hSuffixPx_21 {
  padding-bottom: 336px; }

.ui-layout .hSuffixPx_22 {
  padding-bottom: 352px; }

.ui-layout .hSuffixPx_23 {
  padding-bottom: 368px; }

.ui-layout .hSuffixPx_24 {
  padding-bottom: 384px; }

.ui-layout .hSuffixPx_25 {
  padding-bottom: 400px; }

.ui-layout .hSuffixPx_26 {
  padding-bottom: 416px; }

.ui-layout .hSuffixPx_27 {
  padding-bottom: 432px; }

.ui-layout .hSuffixPx_28 {
  padding-bottom: 448px; }
