<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.OData" version="5.4.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Rebar.EF.AuditPlugin.DateTimeOffsetSupport" version="3.0.20150222" targetFramework="net452" />
  <package id="Rebar.EF.OrphanDeletePlugin.DateTimeOffsetSupport" version="3.0.20150219" targetFramework="net452" />
  <package id="Rebar.EF.PluginManager" version="3.0.605577" targetFramework="net452" />
  <package id="Rebar.EF.PluginManager" version="3.0.580297" targetFramework="net452" />
</packages>