/* Rebar UI Taupe Theme
 *
 */
.ui-banner {
  background-color: #c8c8be;
  border-bottom-color: #6a6a4f; }
  .ui-banner a:hover, .ui-banner a:focus, .ui-banner a.ui-state-hover, .ui-banner a.ui-state-focus {
    background-color: #ededea; }
  .ui-banner a.ui-state-active, .lt-ie9 .ui-banner a.ui-state-active {
    background-color: #6a6a4f;
    color: white; }

.ui-left-nav a:hover, .ui-left-nav a:focus, .ui-left-nav a.ui-state-hover, .ui-left-nav a.ui-state-focus {
  background-color: #ededea; }
.ui-left-nav a.ui-state-active
, .lt-ie9 .ui-left-nav a.ui-state-active {
  background-color: #6a6a4f;
  color: white; }

label, .ui-text-label, .ui-label-color {
  color: #6a6a4f; }

.ui-fill-darkest {
  background-color: #6a6a4f; }

.ui-fill-dark {
  background-color: #d4d4cc; }

.ui-fill-medium {
  background-color: #deded8; }

.ui-fill-light {
  background-color: #ededea; }

.ui-fill-popup {
  background-color: #e3e3de; }

.ui-grid-lines th, .ui-grid-lines tr, .ui-grid-lines td {
  border-left: 1px solid #e7e7e3;
  border-right: 1px solid #e7e7e3;
  border-top: 0px;
  border-bottom: 0px; }

.ui.grid-lines table {
  border-bottom: 1px solid #e7e7e3; }

.ui-grid-lines-left td {
  border-left: 1px solid #e7e7e3; }

.ui-grid-lines-right td {
  border-right: 1px solid #e7e7e3; }

.ui-grey-bar {
  background-color: #f9f9f8; }

.ui-palette-gradient {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: white;
  /* IE10 */
  background-image: -ms-linear-gradient(top, white 0%, #6a6a4f 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #6a6a4f 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #6a6a4f 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #6a6a4f));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #6a6a4f 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, white 0%, #6a6a4f 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3OTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM2QTZBNEYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3OTIpIiAvPgo8L3N2Zz4=); }

.ui-palette-gradient-reverse {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: #6a6a4f;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #6a6a4f 0%, #deded8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #6a6a4f 0%, #deded8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #6a6a4f 0%, #deded8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6a6a4f), color-stop(1, #deded8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #6a6a4f 0%, #deded8 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #6a6a4f 0%, #deded8 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient-reverse {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMzkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2QTZBNEYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxMzkpIiAvPgo8L3N2Zz4=); }

.contentHeader {
  color: #6a6a4f; }

.contentHeaderCodeDisplay {
  color: #6a6a4f; }

.ui-iggrid {
  background-color: #d4d4cc; }
  .ui-iggrid .ui-iggrid-headertable, .ui-iggrid .ui-widget-header {
    background: #d4d4cc; }
  .ui-iggrid .ui-iggrid-headertext {
    color: #6a6a4f; }
  .ui-iggrid tbody td {
    border-top: 1px solid #f9f9f8;
    border-bottom: 1px solid #f9f9f8; }
  .ui-iggrid tbody tr {
    background: white; }
  .ui-iggrid .ui-ig-altrecord {
    /* graybar-color */
    background: #f9f9f8; }

.ui-selectlist ul.ui-selectlist-list li.ui-state-active {
  background-color: #d4d4cc;
  border-color: #d4d4cc; }

/* End Rebar UI Taupe Theme */
