/* Rebar UI Deep Green Theme
 *
 */
.ui-banner {
  background-color: #adbab4;
  border-bottom-color: #224433; }
  .ui-banner a:hover, .ui-banner a:focus, .ui-banner a.ui-state-hover, .ui-banner a.ui-state-focus {
    background-color: #e4e9e7; }
  .ui-banner a.ui-state-active, .lt-ie9 .ui-banner a.ui-state-active {
    background-color: #224433;
    color: white; }

.ui-left-nav a:hover, .ui-left-nav a:focus, .ui-left-nav a.ui-state-hover, .ui-left-nav a.ui-state-focus {
  background-color: #e4e9e7; }
.ui-left-nav a.ui-state-active
, .lt-ie9 .ui-left-nav a.ui-state-active {
  background-color: #224433;
  color: white; }

label, .ui-text-label, .ui-label-color {
  color: #224433; }

.ui-fill-darkest {
  background-color: #224433; }

.ui-fill-dark {
  background-color: #bfc9c4; }

.ui-fill-medium {
  background-color: #ced6d2; }

.ui-fill-light {
  background-color: #e4e9e7; }

.ui-fill-popup {
  background-color: #d5dbd8; }

.ui-grid-lines th, .ui-grid-lines tr, .ui-grid-lines td {
  border-left: 1px solid #dce1de;
  border-right: 1px solid #dce1de;
  border-top: 0px;
  border-bottom: 0px; }

.ui.grid-lines table {
  border-bottom: 1px solid #dce1de; }

.ui-grid-lines-left td {
  border-left: 1px solid #dce1de; }

.ui-grid-lines-right td {
  border-right: 1px solid #dce1de; }

.ui-grey-bar {
  background-color: #f6f8f7; }

.ui-palette-gradient {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: white;
  /* IE10 */
  background-image: -ms-linear-gradient(top, white 0%, #224433 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #224433 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #224433 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #224433));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #224433 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, white 0%, #224433 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NDciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMjQ0MzMiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NDcpIiAvPgo8L3N2Zz4=); }

.ui-palette-gradient-reverse {
  /* Start CSS3 Linear Gradient */
  /* Non CSS3 Browsers */
  background-color: #224433;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #224433 0%, #ced6d2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #224433 0%, #ced6d2 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #224433 0%, #ced6d2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #224433), color-stop(1, #ced6d2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #224433 0%, #ced6d2 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #224433 0%, #ced6d2 100%);
  /* End CSS3 Linear Gradient */ }
  .ie9 .ui-palette-gradient-reverse {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MTMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyMjQ0MzMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MTMpIiAvPgo8L3N2Zz4=); }

.contentHeader {
  color: #224433; }

.contentHeaderCodeDisplay {
  color: #224433; }

.ui-iggrid {
  background-color: #bfc9c4; }
  .ui-iggrid .ui-iggrid-headertable, .ui-iggrid .ui-widget-header {
    background: #bfc9c4; }
  .ui-iggrid .ui-iggrid-headertext {
    color: #224433; }
  .ui-iggrid tbody td {
    border-top: 1px solid #f6f8f7;
    border-bottom: 1px solid #f6f8f7; }
  .ui-iggrid tbody tr {
    background: white; }
  .ui-iggrid .ui-ig-altrecord {
    /* graybar-color */
    background: #f6f8f7; }

.ui-selectlist ul.ui-selectlist-list li.ui-state-active {
  background-color: #bfc9c4;
  border-color: #bfc9c4; }

/* End Rebar UI Deep Green Theme */
